body{
    margin:0;
    padding:0;
}

/*This is my unordered list styling*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightslategray;
}
ul li{
    float: left;
}
ul li a {
display: block;
color: white;
text-align: center;
/*padding:14px 16px 14px 16px;*/
padding: 25px 16px;
text-decoration: none;
}
ul li a:hover {
    background-color: black;
}
img{
    margin: 10px;
}

.logo {
    padding-right: 15px;
}

.portfolio-image {
    width: 300px;
    height: auto;
    padding: 20px 10px 20px 10px;
    margin: 10px;
}

ol {
    line-height: 2;
}
ol a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

ol a:hover {
    color: darkblue;
}

.main-heading {
    border: 3px solid white;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    background-color: lightslategrey;
}

section {
    min-height: 100vh;
    padding: 60px 20px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
}

.section-content {
    flex: 1;
}

.page-number {
    text-align: center;
    margin-top: auto;
    font-weight: bold;
}

footer {
    background-color: lightslategray;
    color: white;
    text-align: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 8px;

}

/* DESKTOP VIEW */
@media (min-width: 768px) {

/* Show top nav */
.desktop-nav { 
  display: block;
}

/* Hide mobile elements */
.menu-btn {
  display: none;
}

.drawer {
  display: none !important;
  }
}

/* Menu button */
.menu-btn {
  font-size: 22px; 
  background: none;
  border: none;
  color: lightslategray; 
  cursor: pointer;
}

/* Drawer (mobile only) */
.drawer {
  position: fixed;
  top: 0; 
  left: 0; 
  width: 0;
  height: 100%;
  background: lightslategray;
  overflow: hidden;
  transition: width 0.4s ease; 
  padding-top: 60px;
  display: block;
}

.drawer a {
  display: block; 
  padding: 15px; 
  color: white;
  text-decoration: none;
}


.drawer a:hover {
   background: lightslategray;
}


